#container {
    width: 100%;
    float: left;
}
.half {
    width: 50%;
    float: left;
    height: 100px;
}
#wrapper {
    overflow: hidden;
    width: 800px;
    height: 600px;
    margin-right: -400px;
    background-color: #eee;
}
.pull_right {
    float: right;
}
.pull_left {
    float: left;
}

#list {
    height: 500px;
    list-style-type: none;
    margin: 0;
}
#input-form {
    float: left;
}
#input-form textarea {
    width: 698px;
    height: 98px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    float: left;
    resize: none;
    outline: none;
}
#input-form .button-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
}
#input-form button {
    width: 80px;
    margin: 40px 10px;
    overflow: hidden;
}